
@mixin btn() {
    padding: 15px 35px;
// color: #fff;
background: #C9453B;
border-radius: 6px;
cursor: pointer;
// border: 3px solid #C9453B;

&:hover{
    background-color: transparent;
    border: 3px solid #C9453B;
    color: #000;
}
}

@mixin icon ($bg-color, $path) {
    background-color: $bg-color;
    background-image: url($path);

}


@mixin imgs {
      position: absolute;
      width: 15px;
      height: 15px;
  margin: 30%;
  }

  